body {
    font-size: 64px;
    padding: 70px;
    font-family: Neufile Grotesk Medium Extended, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    animation: fadein 2s;
    -moz-animation: fadein 2s;
    /* Firefox */
    -webkit-animation: fadein 2s;
    /* Safari and Chrome */
    -o-animation: fadein 2s;
    /* Opera */
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {
    /* Firefox */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    /* Safari and Chrome */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-o-keyframes fadein {
    /* Opera */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

body.hide {
    animation: fadeout 0.5s;
    -moz-animation: fadeout 0.5s;
    /* Firefox */
    -webkit-animation: fadeout 0.5s;
    /* Safari and Chrome */
    -o-animation: fadeout 0.5s;
    /* Opera */
}

@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@-moz-keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@-webkit-keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@-o-keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.content {
    padding: 5% 0 0 0;
}

p {}

h1 {
    font-size: 6.25rem;
    font-weight: 400;
    margin: 0 0 2% 0;
}

h2 {
    font-size: 6.25rem;
    font-weight: 400;
    margin: 1% 0 0 0;
}

.navLink {
    display: block;
}

a {
    /* display: inline-block; */
    position: relative;
    text-decoration: underline;
    color: #000;
}


/* 
#contact {
    border-bottom: 0px;
    border: 1px transparent solid;
    border-radius: 5px;
    padding-top: 2%;
    padding-bottom: 2%;
    color: #fff;
    position: relative;
    top: 1px;
    width: 30%;
} */

.hide {
    opacity: 0;
    z-index: -100;
    transition: all 2s;
    -moz-transition: all 2s;
    -ms-transition: all 2s;
    -o-transition: all 2s;
    -webkit-transition: all 2s;
}


/* ============================================= Responsive ============================================= */

@media (max-width: 320px) {
    body {
        padding-top: 45px;
        padding-left: 30px;
        padding-right: 30px;
        height: 100vh;
    }
    content {
        padding: 5% 5% 0 0;
    }
    h1 {
        font-size: 0.75em;
    }
    h2 {
        font-size: 0.75em;
    }
}

@media screen and (max-width: 400px) and (min-width: 360px) {
    body {
        padding-top: 45px;
        padding-left: 30px;
        padding-right: 30px;
        height: 100vh;
    }
    content {
        padding: 5% 5% 0 0;
    }
    h1 {
        font-size: 0.85em;
    }
    h2 {
        font-size: 0.85em;
    }
}

@media screen and (max-width: 414px) and (min-width: 401px) {
    body {
        padding-top: 45px;
        padding-left: 30px;
        padding-right: 30px;
        height: 100vh;
        margin: 0px;
    }
}

@media screen and (max-width: 790px) and (min-width: 402px) {
    body {
        padding-top: 45px;
        padding-left: 30px;
        padding-right: 30px;
        height: 100vh;
        margin: 0px;
    }
    content {
        padding: 5% 5% 0 0;
    }
    h1 {
        font-size: 0.85em;
    }
    h2 {
        font-size: 0.85em;
    }
}

@media screen and (max-width: 414px) and (min-width: 401px) {
    body {
        padding-top: 45px;
        padding-left: 30px;
        padding-right: 30px;
        height: 100vh;
        margin: 0px;
    }
}


/* Larger than phablet (also point when grid becomes active) */

@media (min-width: 550px) {}


/* Larger than tablet */

@media (min-width: 750px) {}


/* Larger than desktop */

@media (min-width: 1000px) {}


/* Larger than Desktop HD */

@media (min-width: 1200px) {}