/*=====================================  start of Body hide ==============================================*/

body {
    font-size: 64px;
    padding: 70px;
    font-family: Neufile Grotesk Medium Extended, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    animation: fadein 2s;
    -moz-animation: fadein 2s;
    /* Firefox */
    -webkit-animation: fadein 2s;
    /* Safari and Chrome */
    -o-animation: fadein 2s;
    /* Opera */
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {
    /* Firefox */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    /* Safari and Chrome */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-o-keyframes fadein {
    /* Opera */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

body.hide {
    animation: fadeout 0.5s;
    -moz-animation: fadeout 0.5s;
    /* Firefox */
    -webkit-animation: fadeout 0.5s;
    /* Safari and Chrome */
    -o-animation: fadeout 0.5s;
    /* Opera */
}

@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@-moz-keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@-webkit-keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@-o-keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}


/*=====================================  End of Body hide ==============================================*/


/*=====================================  Start of App   ==============================================*/

p {
    font-size: 6.25rem;
    font-weight: 200;
    line-height: 0.8;
}

hr {
    border-top: 3px solid #000;
}

a {
    /* display: inline-block; */
    position: relative;
    text-decoration: underline;
    color: #000;
}

.project-content p {
    margin-top: 0;
    font-size: 1.25rem;
    margin-bottom: 90px;
    padding: 0px 60px;
    color: #000;
    line-height: 1.5;
    display: block;
    margin-block-end: 2em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.closeButton {
    width: 10%;
    right: 40px;
    top: 40px;
    position: fixed;
    z-index: 150;
}


/* .rotate {
    transform: rotate(90%);
} */

.hide {
    opacity: 0;
    z-index: -100;
    transition: all 2s;
    -moz-transition: all 2s;
    -ms-transition: all 2s;
    -o-transition: all 2s;
    -webkit-transition: all 2s;
}


/* ============================================= work grid ============================================= */

.work-head {
    padding-top: 8%;
}

.project {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-head {
    padding: 0 0 0 5%;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    max-width: 40%;
}

.project-content {
    padding: 0 7% 0 0;
    width: 30%;
}


/* NEW CODE */


/* ============================================= Responsive ============================================= */


/* tiny screens  iphone 5 */

@media (max-width: 320px) {
    body {
        padding-top: 45px;
        padding-left: 0px;
        padding-right: 0px;
        height: 100vh;
    }
    .work-head h1 {
        font-size: 1em;
    }
    .project {
        flex-direction: column;
        justify-content: center;
    }
    .project-head {
        font-size: 36px;
        max-width: 90%;
        padding: 0 0 8% 0;
    }
    .project-content {
        width: 60%
    }
    .project-content p {
        padding: 0;
    }
    .closeButton {
        width: 10%;
        padding-top: 10px;
        position: fixed;
        z-index: 150;
        padding-right: 5%;
    }
}


/* iphone 6, 7, 8 */

@media screen and (max-width: 400px) and (min-width: 360px) {
    body {
        padding-top: 45px;
        padding-left: 30px;
        padding-right: 30px;
        height: 100vh;
    }
    .work-head h1 {
        font-size: 1em;
    }
    .project {
        flex-direction: column;
        justify-content: center;
    }
    .project-head {
        font-size: 36px;
        max-width: 90%;
        padding: 0 0 8% 0;
    }
    .project-content {
        width: 60%
    }
    .project-content p {
        padding: 0;
    }
    .closeButton {
        padding-right: 5%;
    }
}


/* iphone plus 6+, 7+, 8+ */

@media screen and (max-width: 414px) and (min-width: 401px) {
    body {
        padding-top: 45px;
        padding-left: 30px;
        padding-right: 30px;
        height: 100vh;
        margin: 0px;
    }
    .work-head h1 {
        font-size: 1em;
    }
    .project {
        flex-direction: column;
        justify-content: center;
    }
    .project-head {
        font-size: 36px;
        max-width: 90%;
        padding: 0 0 8% 0;
    }
    .project-content {
        width: 60%
    }
    .project-content p {
        padding: 0;
    }
    .closeButton {
        padding-right: 2%;
    }
}


/* ipad */

@media screen and (max-width: 790px) and (min-width: 402px) {
    body {
        padding-top: 45px;
        padding-left: 30px;
        padding-right: 30px;
        height: 100vh;
        margin: 0px;
    }
    .work-head h1 {
        font-size: 1em;
    }
    .project {
        flex-direction: column;
        justify-content: center;
    }
    .project-head {
        font-size: 36px;
        max-width: 90%;
        padding: 0 0 8% 0;
    }
    .project-content {
        width: 60%
    }
    .project-content p {
        padding: 0;
    }
    .closeButton {
        padding-right: 5%;
    }
}

@media screen and (max-width: 1025px) and (min-width: 1020px) {
    .closeButton {
        padding-right: 5%;
    }
}


/* Larger than phablet (also point when grid becomes active) */

@media (min-width: 550px) {}


/* Larger than tablet */

@media (min-width: 750px) {}


/* Larger than desktop */

@media (min-width: 1000px) {}


/* Larger than Desktop HD */

@media (min-width: 1200px) {}